/* General styling */
body {
  background-color: #fff;
  color: #334756;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1.2px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
}


#intro-section, #about-me-section,
#skills-section,
#projects-section {
  margin: 0 auto;
  padding: .5rem 5rem 5rem 5rem;
  width: 70%;
}


.about-me-title,
.skills-title,
.projects-title {
  text-align: left;
  font-size: 2rem;
  font-weight: 900;
  padding-bottom: 1rem;
}


/* END General styling */

/*Navegation Bar*/
#navbar {
  padding: 20px 0;
}

ul > li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

ul {
  padding: 0;
}

.nav-item {
  color: #334756;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0 25px;
}

.nav-brand {
  padding: 0 25px;
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
}

button.navbar-toggler {
  height: 40px;
  width: 75px;
}

.nav-link {
  font-size: 1.2rem;
  padding: 0 18px;
}
/*End Navegation Bar*/

/* Intro page styling */
.name-intro {
  font-size: 2rem;
  margin: 0;
}

.title-description {
  color: #334756;
  font-size: 1rem;
  margin: 0;
}
/* END Intro page styling */




/* About me styling */

/* END About me styling */




/* Skills Section styling */

.row {
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
	margin: 5px 0;
}

.col {
  margin: 0 10px;
	border: 6px solid gray;
  height: 300px;
  width: 300px;
  padding: 30px;
}


 .skill {
   padding: 15px;
   display: inline-block;
  width: 70px;
} 



/* END Skills Section styling */





/* Projects Section styling */

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projects {
  border-radius: 2%;
  max-width: 300px;
  min-height: 250px;
  background: #082032;
  padding: 30px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px;
}

.column-title {
  margin-top: 0;
  font-size: 16px;
}

.project-content {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.project-btn {
  all: unset;
  float: right;
  margin-left: auto;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.project-btn:hover {
  color: #02b875;
  background: #fff;
}

/* END Projects Section styling */

/* Footer Section styling */
#footer {
  background-color: #082032;
  bottom: 0;
  color: #f3f9fb;
  padding: 10px 0;
  width: 100%;
}

.footer-link {
  color: #f3f9fb;
  padding: 0 10px;
}

.footer-link:hover {
  color: #ff4c29;
}

.copyright {
  font-size: 0.8rem;
  margin: 0;
  padding-bottom: 0;
  padding-top: 10px;
}

/* END Footer Section styling */

/* Responsive styling */
@media screen and (max-width: 800px) {
  #about-me-section,
  #skills-section,
  #projects-section,
  #contact {
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1rem;
    padding: 10px;
  }

  .title-description {
    font-size: 0.8rem;
  }

  .skill-row,
  .skill-row2,
  .skill-row3 {
    text-align: center;
  }
}
