body {
  font-family: "Roboto Mono", monospace;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #f3f4ed;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  padding-bottom: 5%;
  font-family: "Sacramento", cursive;
  color: #f3f4ed;
  font-weight: 900;
}

p {
  line-height: 2;
}

hr {
  border: 0;
  height: 1px;
  width: 10%;
  position: relative;
  margin: 10px auto;
}



#about-me-section,
#skills-section,
#projects-section,
#contact {
  padding: 5rem;
  margin: 0 auto;
  width: 70%;
}

.container-fluid {
  padding: 0 2%;
}

/*Navegation Bar*/

.navbar {
  padding: 3% 0;
}

.nav-item {
  padding: 0 18px;
  margin: 0 auto;
}

.navbar-brand {
  color: #f3f4ed;
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 75px;
}

button.navbar-toggler {
  height: 40px;
  width: 75px;
}

.nav-link {
  font-size: 1.2rem;
  padding: 0 18px;
}

/*End Navegation Bar*/

#title {
  background-color: #f0a500;
}

/* .my-pic {
  width: 100%;
}

.my-pic-column {
  padding: 0;
  width: 0%;
} */

.title-description {
    font-size: 1rem;
    padding: 0 10%;
    color: #f3f4ed;
    letter-spacing: 0.5rem;
  }
  
  .description {
      width: 100%;
  }

.row {
  padding: 5%;
}

.skill-row,
.skill-row3 {
  text-align: left;
}

.skill-row2 {
  text-align: right;
}

/* .button-link {
  margin: 20px 10px;
  border: 0;
  font-weight: 300;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #FF4C29;
  color: #F3F4ED;
} */

.about-me-title,
.skills-title,
.projects-title,
.contact-title {
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 1rem;
  color: #ff4c29;
}

.projects-link {
  color: #ff4c29;
}

.project-column {
  padding: 10px;
}

.card-body {
  padding: 10%;
}

.card-title {
  padding-bottom: 10px;
  font-weight: 900;
  color: #f0a500;
}

#footer {
  background-color: gray;
  padding: 20px 0;
}

.footer-link {
  color: #f3f4ed;
  padding: 0 10px;
}

.footer-link:hover {
  color: #ff4c29;
}

.btn {
  border-radius: 5px;
  color: #f3f4ed;
  font-size: 15px;
  background-color: #f0a500;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background-color: #ff4c29;
  text-decoration: none;
  color: #f3f4ed;
}

.copyright {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 0.8rem;
}

@media screen and (max-width: 800px) {
  #about-me-section,
  #skills-section,
  #projects-section,
  #contact {
    padding: 2rem;
    margin: 0 auto;
    width: 90%;
  }

  .about-me-title,
  .skills-title,
  .projects-title,
  .contact-title {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1rem;
    padding: 10px;
  }

  .title-description {
      font-size: .8rem;
  }
}
