/* General styling */

body {
  background-color: #F3F9FB;
  color: #222831;
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

a {
  text-decoration: none;
  color:#222831;
}

h1 {
  color: #F05454;
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  font-weight: 900;
  padding-bottom: 5%;
}

p {
  line-height: 2;
}

hr {
  border: 0;
  height: 1px;
  margin: 10px auto;
  position: relative;
  width: 10%;
}

#about-me-section,
#skills-section,
#projects-section,
#contact {
  margin: 0 auto;
  padding: 5rem;
  width: 70%;
}

.about-me-title,
.skills-title,
.projects-title,
.contact-title {
  color: #F05454;
  font-size: 3rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

/* END General styling */

/* Title section styling */
.container-fluid {
  padding: 0 2%;
}

/*Navegation Bar*/
.navbar {
  padding: 3% 0;
}

.nav-item {
  margin: 0 auto;
  padding: 0 18px;
}

.navbar-brand {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  height: 40px;
  margin: 0;
  padding: 0;
  width: 75px;
}

button.navbar-toggler {
  height: 40px;
  width: 75px;
}

.nav-link {
  font-size: 1.2rem;
  padding: 0 18px;
}
/*End Navegation Bar*/

/* Intro page styling */

/* .my-pic {
  width: 100%;
}

.my-pic-column {
  padding: 0;
  width: 0%;
} */

.title-description {
  font-size: 1rem;
  letter-spacing: 0.5rem;
  padding: 0 10%;
}

.description {
  width: 100%;
}

.row {
  padding: 5%;
}
/* END Intro page styling */
/* END title section styling */

/* Skills Section styling */
.skill-row,
.skill-row3 {
  text-align: left;
}

.skill-row2 {
  text-align: right;
}

/* Projects Section styling */
.project-column {
  padding: 10px;
}

.card-body {
  background-color: #F05454;
  padding: 10%;
}

.card-title {
  font-weight: 900;
  padding-bottom: 10px;
}

.project-btn {
  background-color: #F3F9FB;
  border-radius: 5px;
  color: #222831;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
}

.project-btn:hover {
  background-color: #222831;
  color: #f3f4ed;
}

/* END Projects Section styling */

/* Contact section */
.contact-btn {
  background-color: #222831;
  border-radius: 5px;
  color: #f3f4ed;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
}

.contact-btn:hover {
  background-color: #F05454;
  color: #f3f4ed;
}

/* END contact section */



/* Footer Section styling */
#footer {
  background-color: #30475E;
  color:#F3F9FB;
  padding: 20px 0;
}

.footer-link {
  color:#F3F9FB;;
  padding: 0 10px;
}

.footer-link:hover {
  color: #ff4c29;
}

.copyright {
  font-size: 0.8rem;
  margin: 0;
  padding-bottom: 0;
  padding-top: 10px;
}

/* END Footer Section styling */

/* Responsive styling */
@media screen and (max-width: 800px) {
  #about-me-section,
  #skills-section,
  #projects-section,
  #contact {
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
  }

  .about-me-title,
  .skills-title,
  .projects-title,
  .contact-title {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1rem;
    padding: 10px;
  }

  .title-description {
    font-size: 0.8rem;
  }

  .skill-row,
  .skill-row2,
  .skill-row3 {
    text-align: center;
  }
}





/* .button-link {
  border: 0;
  border-radius: 50%;
  background-color: #FF4C29;
  color: #F3F4ED;
  font-size: .8rem;
  font-weight: 300;
  height: 100px;
  margin: 20px 10px;
  width: 100px;
} */
